Repository centreon/centreon-archived, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/centreon-devops, @centreon/centreon-security, @centreon/centreon-documentation, @centreon/centreon-php, @centreon/centreon-frontend

.github/CODEOWNERS:

/.github/       @centreon/centreon-devops
/.git*          @centreon/centreon-devops
/.project       @centreon/centreon-devops
/Jenkinsfile    @centreon/centreon-devops
/selinux/       @centreon/centreon-devops
/project/       @centreon/centreon-devops
*.sh            @centreon/centreon-devops

/.snyk				@centreon/centreon-security
/sonar-project.properties	@centreon/centreon-security

*.po            @centreon/centreon-documentation

/src/                  @centreon/centreon-php
/config/               @centreon/centreon-php
/composer.*            @centreon/centreon-php
/tests/api/            @centreon/centreon-php
/tests/php/            @centreon/centreon-php
/tests/clapi_export/   @centreon/centreon-php
/features/             @centreon/centreon-php
/www/                  @centreon/centreon-php
/tmpl/                 @centreon/centreon-php
/bin/                  @centreon/centreon-php
/*.xml                 @centreon/centreon-php
/phpstan.neon          @centreon/centreon-php
*.php                  @centreon/centreon-php

/www/front_src/     @centreon/centreon-frontend
package.json        @centreon/centreon-frontend
package-lock.json   @centreon/centreon-frontend
webpack*            @centreon/centreon-frontend
babel.config.js     @centreon/centreon-frontend
tsconfig.json       @centreon/centreon-frontend
.prettierrc.js      @centreon/centreon-frontend
.eslint*            @centreon/centreon-frontend
.csslintrc          @centreon/centreon-frontend
*.ts                @centreon/centreon-frontend
*.tsx               @centreon/centreon-frontend
*.jsx               @centreon/centreon-frontend

Use index in host name search request on event log
  www/include/eventLogs/export/Formatter.php
  www/include/eventLogs/export/QueryGenerator.php
Owners: @centreon/centreon-php

Typo
  lang/fr_FR.UTF-8/LC_MESSAGES/messages.po
Owners: @centreon/centreon-documentation

Remove unnecessary docblocks
  www/include/eventLogs/export/Formatter.php
Owners: @centreon/centreon-php

fix(upgrade): check mariadb prerequisites only if db connection is up (#11249)
  www/install/steps/process/process_step6.php
Owners: @centreon/centreon-php

fix(upgrade): check mariadb prerequisites only if db connection is up (#11249)
  www/install/steps/process/process_step6.php
Owners: @centreon/centreon-php

rework timeLine
  www/front_src/src/Resources/Details/tabs/CompactStatusChip.tsx
  www/front_src/src/Resources/Details/tabs/Timeline/Event.tsx
  www/front_src/src/Resources/Details/tabs/Timeline/Events/index.tsx
Owners: @centreon/centreon-frontend

update
  www/front_src/src/Resources/Details/tabs/Timeline/Events/index.tsx
Owners: @centreon/centreon-frontend

update
  www/front_src/src/Resources/Details/tabs/CompactStatusChip.tsx
Owners: @centreon/centreon-frontend

Applying suggested changes
  www/include/configuration/configObject/timeperiod/DB-Func.php
Owners: @centreon/centreon-php
